# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# data
/data

# dumps
/working/dumps
/working/data_sourcing/dumps
/working/data_sourcing/cache
/draft/pkl_data

.rar

/notebooks/graph_practice/dataset
/notebooks/graph_practice/enzymes
